.content_mission {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 10vw;
  margin-right: 10vw;
  width: 100%;
}
.photo_main_mission {
  width: 45%;
}
.main {
  display: flex;
}
.mission_title {
  margin-bottom: 30px;
  text-align: center;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8em;
  white-space: nowrap;
}
.mission_description {
  font-size: 24px;
  color: #000;
  text-align: justify;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 100;
  line-height: 36px;
}
.text_container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 36em;
}
