.content_physioterapy {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 10vw;
  margin-right: 10vw;
  width: 100%;
}
.photo_main_physioterapy {
  width: 30em;
  height: fit-content;
}
.main {
  display: flex;
}
.physioterapy_title {
  margin-bottom: 30px;
  text-align: center;
}
.physioterapy_description {
  color: #000;
  text-align: justify;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 100;
  line-height: 36px;
}
.text_container {
  /* padding: 111px 79px 168px 75px; */
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 35em;
}
@media screen and (max-height: 600px) {
  body {
    height: auto;
  }
  .main {
    padding: 60px 0px;
  }
}
