.content_physioterapy {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 10vw;
  margin-right: 10vw;
  width: 100%;
}
.photo_main_physioterapy {
  width: 30em;
  height: fit-content;
}
.main {
  display: flex;
  height: 90%;
}
.physioterapy_title {
  margin-bottom: 30px;
  text-align: center;
}
.physioterapy_description {
  color: #000;
  text-align: justify;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 100;
  line-height: 36px;
}
.text_container {
  /* padding: 111px 79px 168px 75px; */
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 35em;
}
.physio_button {
  color: white;
  border: 2px solid rgb(126, 126, 246);
  border-spacing: 10px;
  background-color: black;
  border-radius: 5px;
  height: 40px;
  padding-right: 5em;
  padding-left: 5em;
  margin: 50px 100px;
}
@media screen and (max-height: 600px) {
  body {
    height: auto;
  }
  .main {
    padding: 60px 0px;
  }
}

@media screen and (max-width: 1525px) {
  .content_physioterapy {
    margin: 0px 50px;
  }
}
@media screen and (max-width: 1345px) {
  .content_physioterapy {
    flex-direction: column;
  }
  .main {
    height: auto;
    background-size: auto;
  }
  .photo_main_physioterapy {
    padding-top: 0;
  }
  .physioterapy_title {
    margin: 4em 0px 2.5em 0px;
  }
}
@media screen and (max-width: 950px) {
  .main {
    background-size: contain;
  }
}
@media screen and (max-width: 800px) {
  .physioterapy_title {
    font-size: 1.2em;
  }
  .physioterapy_description {
    font-size: 1.1em;
  }
  .photo_main_physioterapy {
    width: 80vw;
  }
  .text_container {
    width: 80vw;
  }
}
@media screen and (max-width: 600px) {
  .physio_button {
    margin: 5vw;
    padding: 0 5vw;
  }
}
@media screen and (max-width: 490px) {
  .physioterapy_title {
    font-size: 0.9em;
  }
  .physioterapy_description {
    font-size: 1em;
  }
  .photo_main_physioterapy {
    width: 90vw;
  }
  .content_physioterapy {
    margin: 0 5vw;
  }
}
@media screen and (max-width: 370px) {
  .physioterapy_title {
    font-size: 0.7em;
  }
}
