body {
  height: auto;
}
.proteges_title {
  text-align: center;
  padding: 60px;
  margin: 0;
  font-weight: 400;
}
.shields_container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}

.item {
  width: auto;
  height: 250px;
  display: flex;
  text-align: center;
  margin: auto;
  padding: 10px;
}
.shields_container {
  width: 100%;
}
.main {
  margin-right: 40px;
  margin-left: 40px;
  padding-bottom: 40px;
  background-size: auto;
}

/* .shields_container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.item {
  flex: 1 1 calc(16.66% - 10px); 
  height: auto;
  width: 100px;
} */

@media screen and (max-width: 1460px) {
  .shields_container {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media screen and (max-width: 1230px) {
  .shields_container {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 1000px) {
  .shields_container {
    grid-template-columns: repeat(3, 1fr);
  }
  .main {
    background-size: contain;
  }
}
@media screen and (max-width: 770px) {
  .shields_container {
    grid-template-columns: repeat(2, 1fr);
  }
  .proteges_title {
    font-size: 22px;
    padding: 60px 45px;
  }
}
@media screen and (max-width: 550px) {
  .main {
    margin-right: 10px;
    margin-left: 0px;
    /* padding-bottom: 40px  */
  }
  .proteges_title {
    font-size: 20px;
    padding: 60px 45px;
  }
  .item {
    height: 200px;
  }
}
@media screen and (max-width: 380px) {
  .shields_container {
    grid-template-columns: repeat(1, 1fr);
  }
}
