@font-face {
  font-family: "Mokoto";
  src: url("../fonts/MokotoFont/mokoto_glitch.otf") format("opentype"),
    url("../fonts/MokotoFont/mokoto_glitch.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  margin: 0;
  width: 100vw;
  /* min-height: 100vh; */
  height: 100%;
  /* overflow: hidden; */
}
.menu_button {
  display: none;
  cursor: pointer;
}
.menu {
  position: absolute;
  top: 80px;
  right: 0;
  display: none;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 20px -4px rgba(23, 24, 24, 0.12),
    0px 3px 6px -3px rgba(23, 24, 24, 0.08);
  border-radius: 8px;
  padding: 12px 0px 16px 0px;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  padding: 10px;
  text-align: left;
  margin: 3px 8px 3px 8px;
  font-family: "Lato", sans-serif;
}
.menu li:first-child {
  text-align: right;
  font-family: "Mokoto", sans-serif;
  font-size: 12px;
  font-weight: 400px;
}

.menu a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

.menu a:hover {
  color: #838383;
}
.menu.show {
  display: block;
  opacity: 1;
}
.navigationDesktop {
  padding: 10px;
  display: flex;
  align-items: center;
}
.navButton {
  all: unset;
  padding: 12px 8px 8px 8px;
  font-family: Mokoto;
  color: black;
  font-size: 16px;
}
nav a {
  text-decoration: none;
  font-family: "Mokoto", sans-serif;
  font-weight: 400;
  color: black;
  padding: 12px 8px 8px 8px;
}
.mokoto {
  font-family: "Mokoto", sans-serif;
}
.header {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.15);
  z-index: 1000;
}
.logo_header {
  margin: 4px;
}
.main {
  background-image: url("../images/logo_background.svg");
  background-repeat: no-repeat;
  background-position: center top;
  /* height: 90%; */
  height: auto;
  background-size: contain;
  overflow: auto;
}
.menu_underlined {
  text-decoration: underline;
  color: var(--Interactive-Pressed, #103262);
}
.description_text {
  color: #000;
  text-align: justify;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}

input[type="button"] {
  cursor: pointer;
}
.uppercase {
  text-transform: uppercase;
}
.bold {
  font-weight: bold;
}

@media screen and (max-width: 1440px) {
  .navigationDesktop {
    display: none;
  }
  .menu_button {
    display: block;
  }
}
h1, h2, h3, h4 {
  font-family: Mokoto, sans-serif;
}
p {
  font-family: Lato, sans-serif;
}