.timetable_title {
  text-align: center;
  padding: 60px 10px 0 10px;
  margin: 0;
  font-weight: 400;
}
.timetable_button {
  color: white;
  border: 2px solid rgb(126, 126, 246);
  border-spacing: 10px;
  background-color: black;
  border-radius: 5px;
  height: 40px;
  padding-right: 5em;
  padding-left: 5em;
  margin: 50px;
}
table {
  border: 1px solid black;
  border-collapse: collapse;
  margin-bottom: 40px;
  font-family: Lato;
}
table td,
th {
  border: 1px solid black;
  text-align: center;
  width: 125px;
  height: 75px;
  min-width: 125px;
  min-height: 75px;
}
th {
  font-weight: normal;
}
tr td:first-child {
  font-weight: bold;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  overflow-x: overlay;
  
}

@media screen and (max-width: 1120px) {
  table {
    align-self: flex-start;
    margin: 40px 60px;
  }
  .timetable_title{
    font-size: 1.4em;
   }

   
}
@media screen and (max-width: 750px) {
 body {
  font-size: 16px;
 }
 .timetable_title{
  font-size: 1.3em;
 }
}
@media screen and (max-width: 530px) {
  body {
    font-size: 14px;
   }
   .timetable_button{
    width: 60%;
    padding: 0;
   }
   td, th {
    font-size: 1.3em;
  }
  .timetable_title{
    font-size: 1.2em;
    
   }
  
}
@media screen and (max-width: 460px) {
  body {
    font-size: 14px;
   }
   .timetable_title{
    font-size: 1.1em;
    
   }
}
